<p id="notice"><%= notice %></p>

<p>
  <strong>Evaluation:</strong>
  <%= @data_evaluation_real_time.evaluation_id %>
</p>

<%= link_to 'Edit', edit_data_evaluation_real_time_path(@data_evaluation_real_time) %> |
<%= link_to 'Back', data_evaluation_real_times_path %>
